<style>
  #footer a{
    color:#3399FF;
}
#footer p{
  font-size: 9px;
}
#footer a:hover{
  text-decoration: underline;
  color:#3399FF;
}
</style>
<div id="wrapfooter">
                    <div id="footer">
                        <div class="grid_24">
                            <div class="footerbox">
                                <h6><img src="/assets/data_images/sites/images/healthcarealliance/footer-logo.png" alt="Healthcare Alliance" height="16" width="104" /></h6>
                                <p>712 Fifth Avenue, 14th Floor, New York, NY 10019-4108<a href="contact-us">Contact Us</a>
                                    <br />Copyright 2012 ScriptRelief, LLC All Rights Reserved. Designated trademarks and brands are the properties of their respective owners. Use of this web site constitutes acceptance of the<a href="/contact/privacy-policy">Healthcare Alliance Privacy Policy</a>. </p>
                                <p>Healthcare Alliance. Helping people save on their healthcare costs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cleared">
                    </div>
 </div>
