  table td{
    color: #555555;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.rate_select{
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  border: 1px inset #666666;
  height: 30px;
}
.textbox{
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
  border: 1px inset #666666;

}
#submit_star{
    background: url("/assets/submit_star.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 42px;
    margin: 0 0 0 -10px;
    width: 100px;
}