body.mobile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #333;
	margin: 0px;
	padding: 0px;
}
#mobileWrap {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#mobileTop {
	background-color: #005190;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin: 0px;
	padding: 2px 0px 1px 0px;
	font-style: italic;
	text-transform: uppercase;
}
#mobileOutline {
	margin: 3px;
	padding: 0px;
	border: 2px solid #005190;
}
#mobileSubhead {
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	color: #C00;
	margin: 0px;
	text-align: center;
	padding: 3px 0px 0px 0px;
	text-decoration: underline;
}
#mobileMain {
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	margin: 0px;
	padding: 5px 0px;
}
#mobileInfo {
	font-size: 20px;
	line-height: 24px;
	color: #000;
	margin: 0px;
	padding: 7px 0px 10px 0px;
	text-align: center;
}
#mobileInfo h1 {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
	margin: 0px;
	padding: 0px 0px 6px 0px;
}
#mobileInfo p {
	font-size: 20px;
	line-height: 22px;
	color: #333;
	margin: 0px;
	padding: 0px 5px 2px 5px;
}
#mobileInfo p.small {
	font-size: 18px;
	line-height: 18px;
}
