<style>
h3 {
    color: #12427A;
    font-family: OpenSansBold,Arial,Helvetica,sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 15px 18px;
}
p{
     line-height: 20px;
     color: #12427A;
     font-family: OpenSansRegular,Arial,Helvetica,sans-serif;
     margin-left: 18px;
}
.success_msg{
    font-family: OpenSansRegular,Arial,Helvetica,sans-serif;
    color: #12427A;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 15px 50px;
    padding: 20px 0 0;
}
</style>
<div>
<% content_for :body_content_left do %>
  <% if !@success.blank? && @success == "true" %>
    <div class="success_msg">
      Thank You<br/><br/>
We have received your message. Someone will <br/> get back to you as soon as possible.
    </div>
  <% else %>
  <div class='inquiries'>
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
   
   <div class="contact-form">
                <div class="sendUsMessage">
                    Send us a message and we'll get right back to you.
                </div>
                <div class="each-row">
                    <div class="name2 firstName">
                        First Name
                    </div>
                    <div class="name2 yourName">
                        Your Name &nbsp;
                    </div>
                    <div class="value2">
                        <input name="inquiry[first_name]" type="text" id="inquiry_firstname" class="textbox textbox-w147" onfocus="clearText(this)" onblur="clearText(this)" />
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="each-row">
                    <div class="name2 lastName">
                        Last Name
                    </div>
                    <div class="value2 boxPadding">
                        <input name="inquiry[last_name]" type="text" id="ctl01_leftContent_ctl01_txtLastName" class="textbox textbox-w164" onfocus="clearText(this)" onblur="clearText(this)" />
                    </div>
                      <div style="clear:both;"></div>
                </div>
                <!--//col-2-->
                <!--//each-row-->
                <div class="each-row">
                    <div class="name2 email">
                      Email*
                    </div>
                    <div class="value2">
                        <input name="inquiry[email]" type="text" id="inquiry_email" class="textbox textbox-w323" onfocus="clearText(this)" onblur="clearText(this)" />
                    </div>
                      <div style="clear:both;"></div>
                </div>

            <!--//each-row-->
            <div class="each-row">
                <div class="name2 email">
                    Subject
                </div>
                <div class="value2">
                    <input name="inquiry[subject]" type="text" id="inquiry_subject" class="textbox textbox-w323" onfocus="clearText(this)" onblur="clearText(this)" />
                </div>
                  <div style="clear:both;"></div>
            </div>
            <!--//each-row-->
            <div class="each-row" style="padding-top:5px;">
                <div class="name2 email">
                    Message*
                </div>
                <div class="value2">
                    <textarea name="inquiry[message]" rows="10" cols="20" id="inquiry_message" class="textarea textbox-w323" onfocus="clearText(this)" onblur="clearText(this)"></textarea>
                </div>
              <div style="clear:both;"></div>
            </div>
            <br />
            <div class="each-row submitIE paddingTop">
            <div class="submitContainer">
           <div class="actions">
            <input id="ctl01_leftContent_ctl01_btnSubmit" name="commit" type="button" value="Send message" class="blue-btn-w327-h52 "/>
            </div>
                
                <br />
            </div>
            <div class="errorMessages" id="inquiryErrMsgs">
            </div>
            </div>
            </div>
            <!--//each-row-->
            <!--//contact-form-->
            <br />
			</div>
  <% end %>
      </div>
    <% end %>
<br/>
<% if !@success.blank? && @success == "true" %>
  <h3 class="to_write" style="padding: 0px 0 0;">To write to us, our address is:</h3>
<% else %>
  <h3 class="to_write" style="padding: 373px 0 0;">To write to us, our address is:</h3>
<% end %>
<p class="to_write_p">Healthcare Alliance<br />
712 5th Ave, 14th Floor<br />
New York, NY 10019</p>
</div>
  </div>
<% end %>
<%= render '/refinery/content_page',:hide_sections => :body_content_title  %>

