<html>
<head>
<%= stylesheet_link_tag    "css/thankyou.css", :media => "all" %>
</head>
<body style="background-color: #8dacd8">


  <!--[if IE 6]>
  <script type="text/javascript" src="/assets/js/ie6pngfix.js"></script>
  <script type="text/javascript">
    DD_belatedPNG.fix('img, ul, ol, li, div, p, a, h1, h2, h3, h4, h5, h6, span, input, textarea, td');
  </script>
  <![endif]-->
  <style>
  div {
      font-family: arial;
      font-size: 19px;
      font-weight: bold;
  }

  div.set_color {
  	 margin:140px 0px 0px -8px; background-color: white; width: 104%; height: 300px;
  }
  </style>
  <!-- middle inner container - background bg -->
<%= image_tag "/assets/small_logo.png",:style=>"margin-left: 365px;margin-top: 10px;" %>
  <div class="set_color">
    <div style="margin:0px 0px 0px 15px;">
      <div style=" float: left; width: 468px; margin-top: 21px;">
        <div style="float:left;width:70%;padding-top: 28px;">
          <span style="font-size: 62px;">Thank You</span>
          <br/>
          for requesting RxRelief Cards to be sent to your friends and family.
        </div>
        <div style="float:left;width:30%;padding-top:36px;">
          <%= image_tag "/assets/bottom_box_img.png", :width => "150px" , :style=>"position:absolute" %>
          <%= image_tag "/assets/fulfillment/ribon.png", :width => "150px" , :style=>"position:absolute;" %>
        </div>
      </div>
      <br/><br/>
      <div style="margin-top: 177px;font-size: 14px;width: 370px;margin-left: 39px;font-weight: normal;">
          Plastic cards should arrive within 10 business days. If you provided an e-mail address, we will send temporary cards immediately by e-mail.          
       
      </div>
    </div>
  </div>
  <br/>
  <a href="javascript:void(0)" onclick = "parent.jQuery.colorbox.close();"  style="cursor:pointer;float: right;"><img src="/assets/buttons/back_to_page_btn.png" style="border: none"/></a>
  </body>
<img src="http://link.p0.com/1x1c.dyn?p=74VXKALN" width=0 height=0/>

<!--- 9/7/11 pixel for Andrew Yahoo --->
<!-- Advertiser 'Loeb Enterprises, LLC',  Conversion tracking 'YourRx_CardConversionPixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1325201&t=2" width="1" height="1" />
<!-- End of conversion tag -->
</html>