<style>
  .invite_title{
    font-size: 26px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #F89C37;
}
p {
  margin-left: 34px;
  font-size: 16px;
  font-family: sans-serif;
}
</style>
<div class="invite_title">Thank you from HelpRx.info!</div>
<div>

</div>
<p>Thank you for inviting your friends to save with HelpRx.info.</p>
<p>We have sent them an e-mail to join our discount program!</p>
