<div id="footer-new">
    <ul>
        <li>
        	© 2012 Script Relief, LLC
         </li>
        <li>
        	<%= link_to "About Us", "/about-us#{layout.nil? ? '' : '?layout=new'}"%>
        </li>
        <li>
        	<%= link_to "Privacy Policy", "/privacy-policy#{layout.nil? ? '' : '?layout=new'}" %>
        </li>
        <li>
        	<%= link_to "Contact Us", "/contact-us#{layout.nil? ? '' : '?layout=new'}"%>
        </li>
    </ul>
    <p>
        The information on this site does not constitute medical advice and is not intended to be a substitute
        <br/>
        for proper medical care provided by a physician. This program is not insurance.
    </p>
</div>
