<div id="footer">
    <ul>
        <li>
        	© 2012 Script Relief, LLC
         </li>
        <li>
        	<%= link_to "Sobre nosotros", '/about-us'%>
        </li>
        <li>
        	<%= link_to "Política de privacidad", '/privacy-policy' %>
        </li>
        <li>
        	<%= link_to "Contáctanos", '/contact-us'%>
        </li>
    </ul>
    <p>
       La información contenida en este sitio no constituye aviso medico, y no es intentado como sustitutoa
        <br/>
        la atención médica proporcionada por un médico.  ¡Este programa no es seguro médico!
    </p>
</div>
